<!--Add shoplist-->

<div class="container text-center" *ngIf="shopList === null">
  <button class="btn btn-success" (click)="createNewShopList()">Opret indkøbsliste</button>
</div>

<!--Loader-->
<app-loader></app-loader>

<!--Chose products-->
<div id="accordion" class="containerSpace" role="tablist" *ngIf="products">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0 text-center">
        <a data-toggle="collapse" *ngIf="isCollapsed" (click)="togglePanel()" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span>Produkter</span>
          <span class="pull-right">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
          </span>
        </a>
        <a data-toggle="collapse" *ngIf="!isCollapsed" (click)="togglePanel()" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span>Produkter</span>
          <span class="pull-right">
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
          </span>
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <!--Search products-->
        <div class="row contentSpace">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="searchText" placeholder="Søg/opret produkt" aria-label="Search for...">
            <span class="input-group-btn">
              <button (click)="addNewProductToProductList(searchText)" *ngIf="searchText !== ''" class="btn btn-success btn-sm" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
        <!--Products-->
        <div class="row containerSpace">
          <div class="col-4" *ngFor="let product of products | productFilter : searchText">
            <p class="small-text"><span (click)="addProduct(product, shopList)">{{product.name }}</span> <span (click)="deleteProduct(product)" class="cross pull-right">x</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>


<!--Shoplist-->
<div class="container" style="background-color:white;" *ngIf="shopList !== null">
  <br>
  <!--Overskrift-->
  <div>
    <h2 class="text-center">Indkøbsseddel</h2>
  </div>
  <br>
  <div class="row" *ngFor="let shopListProduct of shopList.products">
    <!--Number of items-->
    <div class="col-3">
      <span (click)="removeProduct(shopListProduct, shopList)">
        <i class="fa fa-times cross" aria-hidden="true"></i>
      </span>
      <div class="pull-right">
        <span class="badge badge-secondary">1x</span>
      </div>
    </div>
    <!-- Product name -->
    <div class="col-6" (click)="toggleShopListProduct(shopListProduct,shopList)" [ngClass]="{'done': _isActive}">{{shopListProduct.name}}</div>
    <!-- Product price -->
    <div class="col-3 contentSpace">
      <span class="pull-right">{{shopListProduct.price}} kr.</span>
    </div>
  </div>
  <hr>
  <!--Total price-->
  <div class="row">
    <div class="col-12">
      <span class="pull-right">{{shopList.totalPrice}} kr.</span>
    </div>
  </div>
  <br>
</div>
